#search-bar{
  background: none;
  border: none;
  border-bottom: 1px solid red;
  color: white;
  font-size: 14px;
  line-height: 18px;
  margin: 1em;
  width: 300px;
}

button{
  position: absolute;
  margin-top: 10px;
  margin-left: -35px;
}