<div id="routes-container">
  <a routerLink="admin/home" routerLinkActive="second-background-color"><div><h4>Home</h4></div></a>
  <a routerLink="admin/settings" routerLinkActive="second-background-color"><div><h4>Settings</h4></div></a>
  <a [routerLink]="['admin', 'security']"  routerLinkActive="second-background-color"><div><h4>Security</h4></div></a>
  <a routerLink="admin/users" routerLinkActive="second-background-color"><div><h4>Users</h4></div></a>
  <a routerLink="admin/collections" routerLinkActive="second-background-color"><div><h4>Collection</h4></div></a>
  <a routerLink="admin/comics" routerLinkActive="second-background-color"><div><h4>Comics</h4></div></a>
</div>
