button{
  padding: 0px;
  background: none;
  border: none;
  float: right;
}

span{
line-height: 24px;
}

.entry-container{
  background-color: lightgrey;
  border-radius: 7px;
  overflow: hidden;
  margin: 10px;
  margin-left: 0px;
  line-height: 30px;
  display: inline-block;
}
.entry-container > span{
  margin-left: 10px;
  margin-right: 10px;
}

.entry-container > button{
  float: left;
  background-color: slategrey;
  height: 30px;
  padding: 0px;
}
